<div class="static-width content">
	<!-- 顶部消息条 -->
	<div class='content content1'>

		<div class="mess-bar1">
			facebook
		</div>
		<div class="mess-bar2">
			房间 0 消耗 -12.0 衰减因子 0.5
		</div>
		<div class="mess-bar3">
			场次 3  回合 200
		</div>
		<div class="mess-bar4">
			状态 PRE_GAME  需要玩家数 3
		</div>
		
	</div>

	<div class="content2">
	    <!-- 左边 -->
		<div class="content-left">
			<div>
				vnkd
			</div>
			
		</div>

		<!-- 中间 -->
		<div class="content-mid">
			
		</div>

		<!-- 右边 -->
		<div class="content-right">
			
		</div>
	</div>

</div>